<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
        | Web personal (con plantilla base) {% endblock %} </title>
</head>
<body>
    <!-- cabezera y menú-->
    <h1>Mi web personal (con plantilla base)</h1>
    <ul>
    <li><a href="/">Portada</a></li>
    <li><a href="/about/">Acerca de</a></li>
    <li><a href="/portfolio/">Este soy yo</a></li>
    <!-- <li><a href="/contact/">Quieres saber de mi?</a></li> -->
    </ul>
    <!--contenido-->
    {% block content %}
    {% endblock %}
    <!--esto es un template tag-->
</body>
</html>